In [1]:
%pip install pyranges pandas

Collecting pyranges
  Downloading pyranges-0.1.2-py3-none-any.whl.metadata (3.6 kB)
Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting ncls>=0.0.63 (from pyranges)
  Downloading ncls-0.0.68-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.6 kB)
Collecting tabulate (from pyranges)
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Collecting sorted-nearest>=0.0.33 (from pyranges)
  Downloading sorted_nearest-0.0.39-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (964 bytes)
Collecting natsort (from pyranges)
  Downloading natsort-8.4.0-py3-none-any.whl.metadata (21 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/U210050044/.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/U210050044/.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pyranges-0.1.2-py3-none-any.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 10.3 MB/s eta 0:00:00
Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 45.2 MB/s eta 0:00:0000:01
Downloading ncls-0.0.68-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 2.2 MB/s eta 0:00:0000:0100:01m
Downloading numpy-2.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.3/16.3 MB 58.8 MB/s eta 0:00:00:00:01
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading sorted_nearest-0.0.39-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (6.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 2.5 MB/s eta 0:00:00a 0:00:010m
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Downloading natsort-8.4.0-py3-none-any.whl (38 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: pytz, tzdata, tabulate, numpy, natsort, sorted-nearest, pandas, ncls, pyranges
Successfully installed natsort-8.4.0 ncls-0.0.68 numpy-2.1.3 pandas-2.2.3 pyranges-0.1.2 pytz-2024.2 sorted-nearest-0.0.39 tabulate-0.9.0 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
!wget https://github.com/saketkc/gencode_regions/raw/master/data/hg38/cds.bed.gz

--2024-09-13 20:33:01--  https://github.com/saketkc/gencode_regions/raw/master/data/hg38/cds.bed.gz
Resolving github.com (github.com)... 20.207.73.82
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/saketkc/gencode_regions/master/data/hg38/cds.bed.gz [following]
--2024-09-13 20:33:01--  https://raw.githubusercontent.com/saketkc/gencode_regions/master/data/hg38/cds.bed.gz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1841527 (1.8M) [application/octet-stream]
Saving to: ‘cds.bed.gz’

cds.bed.gz          100%[===================>]   1.76M  --.-KB/s    in 0.03s

2024-09-13 20:33:01 (70.1 MB/s) - ‘cds.bed.gz’ saved [1841527/1841527]

In [3]:
!wget https://github.com/saketkc/gencode_regions/raw/master/data/hg38/exon.bed.gz

--2024-09-13 20:33:01--  https://github.com/saketkc/gencode_regions/raw/master/data/hg38/exon.bed.gz
Resolving github.com (github.com)... 20.207.73.82
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/saketkc/gencode_regions/master/data/hg38/exon.bed.gz [following]
--2024-09-13 20:33:01--  https://raw.githubusercontent.com/saketkc/gencode_regions/master/data/hg38/exon.bed.gz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3002729 (2.9M) [application/octet-stream]
Saving to: ‘exon.bed.gz’

exon.bed.gz         100%[===================>]   2.86M  --.-KB/s    in 0.03s

2024-09-13 20:33:01 (84.6 MB/s) - ‘exon.bed.gz’ saved [3002729/3002729]

In [4]:
!gunzip *.gz

In [1]:
import pyranges
import sqlite3

In [2]:
cds = pyranges.read_bed("cds.bed")
exon = pyranges.read_bed("exon.bed")

In [3]:
conn = sqlite3.connect(":memory:")
cur = conn.cursor()

In [4]:
cds.df.to_sql("cds", conn, index=False)
exon.df.to_sql("exon", conn, index=False)

329092

In [5]:
cds

+--------------+-----------+-----------+-----------------+-------+
| Chromosome   | Start     | End       | Name            | +2    |
| (category)   | (int64)   | (int64)   | (object)        | ...   |
|--------------+-----------+-----------+-----------------+-------|
| chr1         | 69090     | 70005     | ENSG00000186092 | ...   |
| chr1         | 182708    | 182746    | ENSG00000279928 | ...   |
| chr1         | 183113    | 183240    | ENSG00000279928 | ...   |
| chr1         | 183921    | 184155    | ENSG00000279928 | ...   |
| ...          | ...       | ...       | ...             | ...   |
| chrY         | 25038100  | 25038116  | ENSG00000185894 | ...   |
| chrY         | 25038808  | 25038914  | ENSG00000185894 | ...   |
| chrY         | 25041768  | 25041886  | ENSG00000185894 | ...   |
| chrY         | 25043945  | 25044023  | ENSG00000185894 | ...   |
+--------------+-----------+-----------+-----------------+-------+
Stranded PyRanges object has 214,359 rows and 6 columns from 25 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
2 hidden columns: Score, Strand

In [6]:
exon

+--------------+-----------+-----------+-----------------------+-------+
| Chromosome   | Start     | End       | Name                  | +2    |
| (category)   | (int64)   | (int64)   | (object)              | ...   |
|--------------+-----------+-----------+-----------------------+-------|
| chr1         | 11868     | 12227     | ENSG00000223972       | ...   |
| chr1         | 12612     | 12721     | ENSG00000223972       | ...   |
| chr1         | 12974     | 13052     | ENSG00000223972       | ...   |
| chr1         | 13220     | 14409     | ENSG00000223972       | ...   |
| ...          | ...       | ...       | ...                   | ...   |
| chrY         | 57213203  | 57213357  | ENSG00000227159_PAR_Y | ...   |
| chrY         | 57213525  | 57213602  | ENSG00000227159_PAR_Y | ...   |
| chrY         | 57213879  | 57213964  | ENSG00000227159_PAR_Y | ...   |
| chrY         | 57214349  | 57214397  | ENSG00000227159_PAR_Y | ...   |
+--------------+-----------+-----------+-----------------------+-------+
Stranded PyRanges object has 329,092 rows and 6 columns from 25 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
2 hidden columns: Score, Strand

In [7]:
%timeit exon.intersect(cds)
common = exon.intersect(cds)
common

195 ms ± 13.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

+--------------+-----------+-----------+-----------------+-------+
| Chromosome   | Start     | End       | Name            | +2    |
| (category)   | (int64)   | (int64)   | (object)        | ...   |
|--------------+-----------+-----------+-----------------+-------|
| chr1         | 69090     | 70005     | ENSG00000186092 | ...   |
| chr1         | 182708    | 182746    | ENSG00000279928 | ...   |
| chr1         | 183113    | 183240    | ENSG00000279928 | ...   |
| chr1         | 183921    | 184155    | ENSG00000279928 | ...   |
| ...          | ...       | ...       | ...             | ...   |
| chrY         | 25038100  | 25038116  | ENSG00000185894 | ...   |
| chrY         | 25038808  | 25038914  | ENSG00000185894 | ...   |
| chrY         | 25041768  | 25041886  | ENSG00000185894 | ...   |
| chrY         | 25043945  | 25044023  | ENSG00000185894 | ...   |
+--------------+-----------+-----------+-----------------+-------+
Stranded PyRanges object has 234,597 rows and 6 columns from 25 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
2 hidden columns: Score, Strand

In [8]:
# write an SQL query to find the intersection of the two tables
# Examples
# --------

# >>> gr = pr.from_dict({"Chromosome": ["chr1"] * 3, "Start": [1, 4, 10],
# ...                    "End": [3, 9, 11], "ID": ["a", "b", "c"]})
# >>> gr
# +--------------+-----------+-----------+------------+
# | Chromosome   |     Start |       End | ID         |
# | (category)   |   (int64) |   (int64) | (object)   |
# |--------------+-----------+-----------+------------|
# | chr1         |         1 |         3 | a          |
# | chr1         |         4 |         9 | b          |
# | chr1         |        10 |        11 | c          |
# +--------------+-----------+-----------+------------+
# Unstranded PyRanges object has 3 rows and 4 columns from 1 chromosomes.
# For printing, the PyRanges was sorted on Chromosome.

# >>> gr2 = pr.from_dict({"Chromosome": ["chr1"] * 3, "Start": [2, 2, 9], "End": [3, 9, 10]})
# >>> gr2
# +--------------+-----------+-----------+
# | Chromosome   |     Start |       End |
# | (category)   |   (int64) |   (int64) |
# |--------------+-----------+-----------|
# | chr1         |         2 |         3 |
# | chr1         |         2 |         9 |
# | chr1         |         9 |        10 |
# +--------------+-----------+-----------+
# Unstranded PyRanges object has 3 rows and 3 columns from 1 chromosomes.
# For printing, the PyRanges was sorted on Chromosome.

# >>> gr.intersect(gr2)
# +--------------+-----------+-----------+------------+
# | Chromosome   |     Start |       End | ID         |
# | (category)   |   (int64) |   (int64) | (object)   |
# |--------------+-----------+-----------+------------|
# | chr1         |         2 |         3 | a          |
# | chr1         |         2 |         3 | a          |
# | chr1         |         4 |         9 | b          |
# +--------------+-----------+-----------+------------+
query = 'EXPLAIN QUERY PLAN SELECT * FROM exon JOIN cds ON exon.Chromosome = cds.Chromosome AND exon.Start <= cds.End AND exon.End >= cds.Start'

cur.execute(query).fetchall()

[(3, 0, 0, 'SCAN exon'),
 (18, 0, 0, 'SEARCH cds USING AUTOMATIC COVERING INDEX (Chromosome=?)')]